/* ================= VARIABLES ================= */
:root {
  --font-size-m: 1.5rem;
}

/* ================= RESET ================= */
body {
  line-height: 1;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  text-decoration: none;
  border: none;
  background-color: transparent;
  font-family: sans-serif;
  color: #000;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

a,
button {
  color: inherit;
  font: inherit;
  text-decoration: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

img {
  width: 100%;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ================= FONTS ================= */
@font-face {
  font-family: "Trainer";
  src: url("fonts/EBTrainerGroteskTrial-Book.woff2");
}

/* ================= LAYOUT ================= */

body {
  background-color: #000;
}

*,
button,
p {
  font-family: "Trainer", sans-serif;
  color: #fff !important;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

#content {
  position: relative;
  width: 65vw;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#content:hover #logo {
  opacity: 0;
}
#content:hover #about {
  opacity: 1;
}

#logo {
  position: absolute;
  pointer-events: none;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
}

#about {
  opacity: 0;
  max-width: 65vw;
  text-align: center;
  display: inline;
  font-size: var(--font-size-m);
  transition: opacity 0.2s ease-in-out;
}

#about h1 {
  display: inline;
  font-size: var(--font-size-m);
}

#links {
  margin-top: 3rem;
  display: block;
}

#links li {
  display: inline;
  font-size: var(--font-size-m);
}

@media screen and (max-width: 800px) {
  :root {
    --font-size-m: 1.5rem;
  }

  .unvisible {
    opacity: 0 !important;
  }
  .visible {
    opacity: 1 !important;
  }

  #content {
    width: 90vw;
  }

  #logo {
    height: 70%;
  }

  #about {
    max-width: none;
  }
}
